<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hustle.historiapreunership">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Historiapreunership"
        tools:targetApi="31">

        <activity
            android:name=".DetailedWord.GDetailedWord"
            android:exported="false" />
        <activity
            android:name=".DetailedWord.HDetailedWord"
            android:exported="false" />
        <activity
            android:name=".DetailedWord.JDetailedWord"
            android:exported="false" />
        <activity
            android:name=".DetailedWord.IDetailedWord"
            android:exported="false" />
        <activity
            android:name=".DetailedWord.FDetailedWord"
            android:exported="false" />
        <activity
            android:name=".DetailedWord.EDetailedWord"
            android:exported="false" />
        <activity
            android:name=".DetailedWord.DDetailedWord"
            android:exported="false" />
        <activity
            android:name=".DetailedWord.CDetailedWord"
            android:exported="false" />
        <activity
            android:name=".DetailedWord.BDetailedWord"
            android:exported="false" />
        <activity
            android:name=".DetailedWord.ADetailedWord"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>